<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
		}
		ul{
			list-style: none;
		}
		ul li{
			float: left;
			width: 150px;
			height: 170px;
			border-radius: 3px;
			margin: 10px 0 0 10px;
			text-align: center;
			position: relative;
		}
		ul li img{
			height: 100px;
			width: 100px;
			margin-top: 20px;
		}
		.infor{
			height: 30px;
			line-height: 30px;
			background-color: rgba(0,0,0,0.5);
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			border-radius: 0 0 3px 3px;
			text-align: center;
			font-size: 14px;
			font-family: Microsoft YaHei;
			color: #fff;
		}
	</style>
</head>
<body>
	<ul>
		<li style="background-color: #A6CFD5;">
			<img src="images/note.png">
			<div class="infor">新订单(2)</div>
		</li>
		<li style="background-color: #F9BD27;">
			<img src="images/liushui.png">
			<div class="infor">今日流水</div>
		</li>
		<li style="background-color: #CE483D;">
			<img src="images/jiesuan.png">
			<div class="infor">结算中心</div>
		</li>
		<li style="background-color: #77302C;">
			<img src="images/tianjia.png">
			<div class="infor">商品添加</div>
		</li>
		<li style="background-color: #7EBFA1;">
			<img src="images/ruku.png">
			<div class="infor">商品入库</div>
		</li>
		<li style="background-color: #2A70E9;">
			<img src="images/shezhi.png">
			<div class="infor">商品管理</div>
		</li>
		<li style="background-color: #8FB021;">
			<img src="images/huodong.png">
			<div class="infor">活动管理</div>
		</li>
		<li style="background-color: #2C2422;">
			<img src="images/youhui.png">
			<div class="infor">优惠管理</div>
		</li>
	</ul>
</body>
</html>